.containeer {

  text-align: center;

}

.login_field {

  padding-top: 100px;
  
}


button {

  padding: 0px 20px 0px 20px;

}

body {

  background-image: url(../images/pune_police_bg-removebg-preview.png);
  background-repeat: no-repeat;

}

table{

  padding-top: 20px;
}

@media screen and (max-width: 710px){

  h1 {

    padding-top: 100px;
    text-size-adjust: 10px;

  }

  body{

    background-size: 150px;
    background-position-x: center;

  }

  p{
    font-size: small;
  }


  h1{

    font-size: larger;
  }
}

.user_data{
  align-content: center;
  border: 1px solid black;  
}

p{
   font-size: large;
}

table,th,td{
  align-items: center;
  border: 1px solid black;
}